# ==========================================
# Configuración Principal de Django
# ==========================================

#CUENTA DE ADMINISTRADOR (luego se cambian)
SEED_ADMIN_EMAIL=admin@hseacademy.com
SEED_ADMIN_USERNAME=administrador
SEED_ADMIN_PASSWORD=admin1234


# Genera una clave secreta fuerte y única para producción.
# Puedes usar: python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
SECRET_KEY=django-insecure-tu_clave_secreta_aqui_cámbiala_para_producción

# Cambiar a False en entornos de producción (para evitar mostrar errores sensibles)
DEBUG=True

# Agrega los dominios o IPs permitidos separados por comas. (ej. misitio.com,127.0.0.1)
ALLOWED_HOSTS=127.0.0.1,localhost


# ==========================================
# Configuración de la Base de Datos (MySQL)
# ==========================================

DB_ENGINE=django.db.backends.mysql
DB_NAME=hse_academy_db
DB_USER=root
DB_PASSWORD=root
DB_HOST=127.0.0.1
DB_PORT=3306

# ==========================================
# Configuración de Cloudflare R2 (Storage)
# ==========================================

CLOUDFLARE_ACCOUNT_ID=tu_account_id_de_cloudflare
AWS_ACCESS_KEY_ID=tu_access_key_generada
AWS_SECRET_ACCESS_KEY=tu_secret_key_generada
AWS_STORAGE_BUCKET_NAME=nombre-de-tu-bucket
AWS_S3_CUSTOM_DOMAIN= (Opcional, si has enlazado un dominio a tu bucket R2)
