asgiref==3.11.1
Django==6.0.6
django-ckeditor-5==0.2.20
mysqlclient==2.2.8
pillow==12.2.0
sqlparse==0.5.5
tzdata==2026.2
django-storages==1.14.4
boto3==1.36.3
python-dotenv==1.0.1
gunicorn==22.0.0
whitenoise==6.6.0
dj-database-url==2.1.0